---

---

<footer class="py-16 md:ml-72">
  <div class="container flex items-center gap-8">
    <p class="text-base font-medium text-gray-950">
      &copy; {new Date().getFullYear()} lilu.dev.
    </p>
    <p class="text-base text-gray-600">
      Theme by <a
        href="https://andersnoren.se"
        class="text-gray-600 underline hover:text-blue-700 hover:no-underline"
        >Anders Norén</a
      >, and ported for Astro by me, <a
        href="https://liludigital.dk"
        class="text-gray-600 underline hover:text-blue-700 hover:no-underline"
        >lilu digital</a
      >
    </p>
  </div>
</footer>
